:root {
    --black: #201203;
    --white: #f9f3ed;
    --accent: #c94706;
}

body {
    font-family: "Work Sans", sans-serif;
    color: var(--black);
    background-color: var(--white);
}

/** utility classes **/
.inner-container {
    margin: 4rem auto;
    max-width: 67.5rem; /**1080px**/
    padding: 1rem;
}

/** typography **/
h1, h2, h3 {
    font-weight: 300;
}

h1, h2, h3, p {
    margin-bottom: 1rem;;
}

h2, h3 {
    margin-top: 2rem;;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3.1875rem;
}

h3 { font-size: 2.25rem; }

p, li {
    font-size: 1.0625rem;
}

strong {
    color: var(--accent);
    letter-spacing: 1px;
}

/** Layout **/

/**
    The images have a ratio of 4:5. Each one will take up half of the available space. We can do a simple cross-multiplication to figure out what the minimum height needs to be, porportional to the widt (== 62.5vw)

    We will add a little more to this so wthat we can offset them and give the photos an overlapping effect, plus maintain one rem of padding.
**/
.relative {
    background-color: var(--black);
    border-radius: 4px;
    position: relative;
    height: calc(70vw + 2rem);
    /** we have to keep in mind that we're using viewport width. Our viewport can extend past our inner-container width, we need to set a max-height; otherwise our relative container will keep growing beyond what we want it to **/
    max-height: 800px;
    width: 100%;
}

/* Notice what happens as soon as we turn on absolute positioning. How do the images overlap? Where do they go? Where would they go if there was no relative container to keep them relatively in place? */

.absolute {
    border: 2px solid var(--white);
    border-radius: 4px;
    width: 55%;
    position: absolute;
}

/** we can a have bit more control by using offset/helper properites. These tell us how far from the top, right, bottom or left bounds of the nearest relative positioned container these absolutely positioned items should be **/

.absolute:first-of-type {
    left: 1rem;
    top: 1rem;
    z-index: 1;
    /* We're introducing z-index here, which is a third dimension (or the z-axis) in our viewport. This determines the stacking order of elements. The higher the number, the further forward the element will appear; the smaller the number, the further back the element will apear. */
}

.absolute:last-of-type {
    bottom: 1rem;
    right: 1rem;
}

/* 
    Offset Practice

    One example isn't quite enough to get the hang of absolute positioning. This box down here is meant to be played around with, to see what different values do.
    What happens if you use a negative value with an offset property? What happens if you use zero (0) with two opposing properties (ex. top and bottom, or left and right)?  
*/

.offset-box {
    background-color: #fff;
    border: 2px dotted var(--black);
    border-radius: 4px;
    margin: 2rem auto 0;
    max-width: 40rem; /**640**/
    height: 320px;
    position: relative;
}

.offset-box span {
    background-color: var(--accent);
    border-radius: 1rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    position: absolute;
}

.top {
    left: calc(50% - 2.5rem);
    /** move the top offset property over 50% and minus half the width so it sits in the center of the container **/
    top: 2rem;
}

.right {
    right: 2rem;
    top: calc(50% - 1rem);
     /** move the right offset property down 50% and minus total top and bottom padding (1rem) the height so it sits in the center of the container **/
}

.bottom {
    bottom: 2rem;
    right: calc(50% - 2.5rem);
    /** move the bottom offset property over 50% and minus half the width so it sits in the center of the container **/
}

.left {
    left: 2rem;
    bottom: calc(50% - 1rem);
    /** move the left offset property up 50% and minus total top and bottom padding (1rem) the height so it sits in the center of the container **/
}